{% extends "base.html" %}

{% block page_content %}

<h2>Store</h2>

<a href="/new_pet" class="btn btn-success float-right">Add New store</a>
<table class="table">
  <thead class="thead-dark">
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
  {% for line in value %}
    <tr>
        <th scope="row">{{line}}</th>
        <td>
            <a href="/pet_update/{{line['id']}}" class="btn btn-warning btn-xs">Edit</a>
        </td>
        <td>
            <a href="/pet_delete/{{line['id']}}" class="btn btn-danger btn-xs" onclick="return confirm('Are You Sure To Delete ?')">Delete</a>
        </td>
    </tr>

    {% endfor %}
  </tbody>
</table>
{% endblock %}